<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jonathan \"Duke\" Leto" />
<!--   <link href="http://feeds.feedburner.com/tom-preston-werner" rel="alternate" title="Tom Preston-Werner" type="application/atom+xml" /> -->

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Jonathan "Duke" Leto</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Jonathan "Duke" Leto <br />
        Founder of <a href="http://letolabs.github.com">Leto Labs LLC</a><br />
        jonathan@leto.net<br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://leto.net">Interwebs: leto.net</a><br />
        <a href="http://github.com/leto/">Github: leto</a><br />
        <a href="http://twitter.com/dukeleto">Twitter: dukeleto</a><br />
        <a href="http://identi.ca/leto">Identi.ca: leto</a><br />
        <a href="http://linkedin.leto.net">LinkedIn</a><br />
        <a href="http://ohloh.leto.net">Ohloh</a><br />
      </p>
    </div>
    <div class="rss">
<!--
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
-->
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/letolabs/letolabs.github.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<!--
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("");
pageTracker._trackPageview();
</script>
-->

</body>
</html>
